---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Us"
  description="Learn about Twistedline Games, our mission, and the team behind the horror."
>
  <section class="mid-details">
    <h1 class="headline">About Us</h1>
    <h2 class="motto">
      /Where Imagination Meets Darkness, Twistedline Games Unveils Unforgettable
      Worlds.
    </h2>
    <p class="paragraph">
      We are Twistedline Games, an indie game studio located in southern
      Finland. We emerge as a collaborative dream among friends with the desire
      to create horrifying and meaningful games as the passion for horror feeds
      our creative minds.
      <br />
      <br />
      Our devotion extends beyond jumpscares as we dive into the psychological depths
      of horror. Join our journey as we continue to push the boundaries of horror
    </p>
    <br />

    <section>
      <h1 class="headline">People Behind the Line</h1>
      <br />
      <h2 class="paragraph">
        <a href="https://www.linkedin.com/in/veeket/" target="_blank"
          >Veeti Kettunen
        </a>- Co-founder & CEO | Developer
      </h2>

      <h2 class="paragraph">
        <a
          href="https://www.linkedin.com/in/ilmari-partanen-4517702b0/"
          target="_blank"
          >Ilmari Partanen
        </a>- Co-founder & CFO | Developer
      </h2>

      <h2 class="paragraph">
        <a
          href="https://www.linkedin.com/in/jasmin-kettunen-9aa57b282/"
          target="_blank"
          >Jasmin Kettunen
        </a> - Music producer, Composer
      </h2>

      <h2 class="paragraph">
        <a href="https://www.linkedin.com/in/nibir-1/" target="_blank"
          >Nahasat Nibir
        </a> - Web Designer
      </h2>
    </section>
    <br />
  </section>
  <br />
  <br />
</Layout>
