---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
  <section class="mid-details" style="height: 131vh;">
    <h1 class="headline">About Us</h1>
    <h1 class="motto">
      /Where Imagination Meets Darkness, Twistedline Games Unveils Unforgettable
      Worlds.
    </h1>
    <h1 class="paragraph">
      Welcome to Twistedline Games, a small indie studio nestled in the heart of
      Finland, where passion for horror fuels our creative endeavors. Born from
      the shared love of scary games, our team is dedicated to crafting
      meaningful and long-lasting horror experiences that linger long after the
      game is finished.
      <br />
      <br />
       In the mystical landscapes of Finland, where the northern lights dance
      across the skies, our journey began. Twistedline Games emerged as a
      collaborative dream among friends, united by the desire to weave
      nightmares into immersive digital realities.
      <br />
      <br />
       Our commitment extends beyond jumpscares; we delve into the psychological
      depths of horror, exploring narratives that resonate with players on a
      profound level.
      <br />
      <br />
       As we navigate the twisted paths of game development, each title from
      Twistedline Games is a labor of love. We understand that horror is an art
      form, and our creations are crafted with meticulous attention to detail,
      ensuring an unforgettable experience for those brave enough.
      <br />
      <br />
       Join our journey as we continue to push the boundaries of horror gaming,
      inviting players to confront their fears and embrace the darkness.
      <a
        href="/TwistedLineGames-Presskit.zip"
        download="TwistedLineGames-Presskit.zip"
        target="_blank">Download Press Kit</a
      >
    </h1>
  </section>
</Layout>
