---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
  <section class="mid-details">
    <h1 class="headline">About Us</h1>
    <h1 class="motto">
      /Where Imagination Meets Darkness, Twistedline Games Unveils Unforgettable
      Worlds.
    </h1>
    <h1 class="paragraph">
      At TwistedLine Games, we believe in weaving experiences that defy
      convention and transport players to uncharted realms of imagination.
      <br />
      <br />
       Founded by a team of passionate creators, our mission is to craft games
      that challenge the boundaries of storytelling, inviting players to explore
      the depths of emotion and mystery. From gripping narratives to haunting
      atmospheres, every element is meticulously crafted to leave an indelible
      mark on those who dare to venture into our worlds.
      <br />
      <br />
       Driven by a collective love for the art of gaming, we tirelessly endeavor
      to deliver experiences that resonate long after the screen fades to black.
      We embrace the shadows, confront the unknown, and invite players to embark
      on journeys that will linger in their hearts and minds. With every title
      we unveil, we invite you to step into a universe where the line between
      reality and fantasy blurs, where every choice carries weight, and where
      the unexpected waits just around the corner. Together, let's explore the
      twisted paths of our collective imagination.
      <br />
      <br />
       Welcome to TwistedLine Games. Let the adventure begin.
      <a
        href="/TwistedLineGames-Presskit.zip"
        download="TwistedLineGames-Presskit.zip"
        target="_blank">Download Press Kit</a
      >
    </h1>
  </section>
</Layout>
