---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Careers">
  <section class="mid-details">
    <h1 class="headline">Careers</h1>
    <h1 class="motto">
      /Embark on a journey with us. Our Careers page is where dreams meet
      destiny.
    </h1>
    <h1 class="paragraph">
      Feel a passion for horror games? Interested in collaborating with us? We
      always enjoy hearing from enthusiasts who share our passion. Shoot us an
      email with your portfolio at
      <a
        href="mailto:generalapplication@twistedlinegames.com?subject=General Application"
        style="pointer-events: auto;">generalapplication@twistedlinegames.com</a
      >
    </h1>
  </section>
  <br />
</Layout>
