---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Careers">
  <section class="mid-details">
    <h1 class="headline">Careers</h1>
    <h1 class="motto">
      /Embark on a journey with us. Our Careers page is where dreams meet
      destiny.
    </h1>
    <h1 class="paragraph">
      Stand vigilant, for wizards' fates are written in the stars, awaiting
      their dramatic demise.
      <br />
      <br />
       Feel like you're cut from the same arcane cloth as our wizards, but don't
      see an exact match? Show us your mettle! Send your CV to
      generalapplication@twistedlinegames.com and let's see if you've got the
      magic touch we're looking for.
    </h1>
  </section>
</Layout>
