---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">
  <section class="mid-details" style="height: 100vh;">
    <h1 class="headline">Contacts</h1>
    <h1 class="motto">/Reach out and let's ignite a conversation.</h1>
    <h1 class="paragraph">
      Get in Touch with TwistedLine Games. Unearth new opportunities, forge
      collaborations, or simply drop us a line. We're always eager to hear from
      fellow adventurers and visionaries.

      <br />
      <br />
       General Inquiries: Have a question or just want to say hi? Shoot us an
      email at
      <a href="mailto:nahasat.nibir@gmail.com?subject=General Inquiries"
        >contact@twistedlinegames.com</a
      >

      <br />
      <br />
       Partnerships & Collaborations: Let's create something extraordinary
      together. Reach out to our partnership team at
      <a
        href="mailto:nahasat.nibir@gmail.com?subject=Partnerships and Collaborations"
        >partners@twistedlinegames.com</a
      >

      <br />
      <br />
       Press & Media Inquiries: For interviews, media assets, and press-related
      matters, contact our PR team at <a
        href="mailto:nahasat.nibir@gmail.com?subject=Press and Media Inquiries"
        >press@twistedlinegames.com</a
      >

      <br />
      <br />
       Social Channels: Stay connected and be the first to know about our latest
      updates. Follow us on
      <a href="" target="_blank">Twitter</a>,
      <a href="" target="_blank">Facebook</a>, and
      <a href="" target="_blank">Instagram</a>.
      <br />
      <br />
       Let's shape extraordinary worlds together.
    </h1>
  </section>
</Layout>
