---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">
  <section class="mid-details">
    <h1 class="headline">Contacts</h1>
    <h1 class="motto">/Reach out and let's ignite a conversation.</h1>
    <h1 class="paragraph">
      Get in Touch with TwistedLine Games. Seek new opportunities, forge
      collaborations, or simply drop us a line. We're always eager to hear from
      like-minded enthusiasts and creative minds.
    </h1>

    <h1 class="headline">General inquiries</h1>
    <h1 class="paragraph">
      For general inquiries, reach out to TwistedLine Games for friendly vibes
      and open chats. Whether you have something specific in mind or just want
      to say hello, we're all ears! Drop us a line at

      <a href="mailto:contact@twistedlinegames.com?subject=General Inquiries"
        >contact@twistedlinegames.com</a
      >
    </h1>

    <h1 class="headline">Press & Media Inquiries</h1>
    <h1 class="paragraph">
      For interviews, media assets, and press-related matters, contact our PR
      team at <a
        href="mailto:press@twistedlinegames.com?subject=Press and Media Inquiries"
        >press@twistedlinegames.com</a
      >
    </h1>

    <h1 class="headline">Applications</h1>
    <h1 class="paragraph">
      For all applications, send them over to <a
        href="mailto:generalapplication@twistedlinegames.com?subject=Press and Media Inquiries"
        >generalapplication@twistedlinegames.com</a
      >. We're excited to hear from you.
    </h1>

    <h1 class="headline">Social Channels</h1>
    <h1 class="paragraph">
      Stay connected and be the first to know about our latest updates. Follow
      us on
      <a href="https://discord.com/invite/Ch76x35hg9" target="_blank">Discord</a
      >,

      <a href="https://www.youtube.com/@TwistedlineGames" target="_blank"
        >Youtube</a
      >,
      <a
        href="https://www.linkedin.com/company/twistedline-games"
        target="_blank">LinkedIn</a
      >,
      <a
        href="https://store.steampowered.com/search/?developer=Twistedline%20Games"
        target="_blank">Steam</a
      > and
      <a
        href="https://x.com/TwstdlGames?t=gp4GUaLvAriPJTkIhAbU0w&s=09"
        target="_blank">Twitter</a
      >.
    </h1>

    <h1 class="paragraph">Let's twist lines together at TwistedLine Games!</h1>
    <br />
    <br />
  </section>
</Layout>
