---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TwistedLine Games">
  <section class="remorses-background">
    <section class="mid-details">
      <section class="remorses-logo-wishlist">
        <img src="/Remorses_Text.png" alt="Remorses Logo" />
        <a
          href="https://store.steampowered.com/app/2292160/Remorses/"
          target="_blank"
        >
          <button></button>
        </a>
      </section>

      <h1 class="headline" style="color: #e6e6e6;">Gameplay</h1>
      <h1 class="paragraph" style="color: #e6e6e6;">
        Remorses. Unveil a progressively intensifying horror within a
        susceptible narrative set in a slowly paced, atmospheric and terrifying
        world. Survive the treacherous journey through sinister environments,
        where your sanity teeters on the brink. The very air you breathe becomes
        your lifeline, and neglecting this vital mechanic carries consequences
        as an unsettling force toys with your mind. Managing your resources is
        vital, so make every light source count.
      </h1>

      <section class="youtube-sideText">
        <iframe
          src="https://www.youtube.com/embed/3Sjy3rb-GT8?si=V_UHU0rzFnbzTMiv"
          title="Remorses Trailer"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          class="remorses-trailer"
        >
        </iframe>

        <h1 class="paragraph" style="color: #e6e6e6;">
          Along your path, search for elusive ingredients to craft a weapon
          against the lurking malevolence. Investigate the unknown, solve
          puzzles, and craft your way to freedom while uncovering the horrifying
          truth that lurks within. Prepare to immerse yourself in a sensory
          onslaught of visual, auditory, and logical puzzles.
        </h1>
      </section>

      <h1 class="headline" style="color: #e6e6e6;">Story</h1>
      <h1 class="paragraph" style="color: #e6e6e6;">
        Step into the shoes of Jake, a seasoned investigator with an insatiable
        curiosity for the supernatural. In his previous encounters, Jake's
        forays into the unknown yielded knowledge and understanding without
        peril. But this time, the game has changed. Whispers of witchcraft
        beckon him into a treacherous realm he never anticipated. Beware, every
        decision carries weight, and even the faintest of movements echo with
        consequence. Cornered and with no one to trust but himself, survival
        becomes the ultimate test. Can you navigate the perilous waters of the
        occult and emerge unscathed? Your fate awaits within the darkness...
      </h1>

      <br />
      <br />
      <section class="remorses-snapshots">
        <img src="/Picture_1.png" alt="Picture_1" />
        <img src="/Picture_2.png" alt="Picture_2" />
        <img src="/Picture_3.png" alt="Picture_3" />
        <img src="/Picture_4.png" alt="Picture_4" />
        <img src="/Picture_5.jpg" alt="Picture_5" />
        <img src="/Picture_6.png" alt="Picture_6" />
        <img src="/Picture_7.png" alt="Picture_7" />
        <img src="/Picture_8.png" alt="Picture_8" />
        <img src="/Picture_9.png" alt="Picture_9" />
      </section>

      <h1 class="headline" style="color: #e6e6e6;">Characters</h1>
      <h1 class="paragraph" style="color: #e6e6e6;">
        The unfolding events in Remorses not only move the story forward but
        also reveal more about each character's past, present, and future. The
        characters have experienced a lot and feel deeply. The characters aren't
        just part of the story, they hold many untold stories that are waiting
        to be uncovered. Every character is a tapestry of untold stories,
        waiting to be unraveled through the journey.
      </h1>
    </section>
  </section>
</Layout>
