---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TwistedLine Games">
  <section class="mid-details">
    <h1 class="headline">Remorses</h1>
    <h1 class="motto">Embrace the Shadows, Confront the Past</h1>
    <h1 class="paragraph">
      Welcome to "Remorses," a gripping narrative-driven adventure that delves
      deep into the human psyche. Set in a hauntingly atmospheric world, this
      game invites you to navigate a web of intricate choices, each carrying its
      own weight of consequence.
    </h1>

    <section class="two-buttons">
      <a href="https://www.youtube.com/watch?v=HTGqsEgwQxU" target="_blank">
        <button>Watch Trailer</button>
      </a>

      <a
        href="https://store.steampowered.com/app/2292160/Remorses/"
        target="_blank"
      >
        <button>Buy Game Here</button>
      </a>
    </section>

    <h1 class="paragraph">
      Welcome to "Remorses," a gripping narrative-driven adventure that delves
      deep into the human psyche. Set in a hauntingly atmospheric world, this
      game invites you to navigate a web of intricate choices, each carrying its
      own weight of consequence.
    </h1>
    <h1 class="paragraph">
      Welcome to "Remorses," a gripping narrative-driven adventure that delves
      deep into the human psyche. Set in a hauntingly atmospheric world, this
      game invites you to navigate a web of intricate choices, each carrying its
      own weight of consequence.
    </h1>
    <h1 class="paragraph">
      Welcome to "Remorses," a gripping narrative-driven adventure that delves
      deep into the human psyche. Set in a hauntingly atmospheric world, this
      game invites you to navigate a web of intricate choices, each carrying its
      own weight of consequence.
    </h1>
    <h1 class="paragraph">
      Welcome to "Remorses," a gripping narrative-driven adventure that delves
      deep into the human psyche. Set in a hauntingly atmospheric world, this
      game invites you to navigate a web of intricate choices, each carrying its
      own weight of consequence.
    </h1>
    <h1 class="paragraph">
      Welcome to "Remorses," a gripping narrative-driven adventure that delves
      deep into the human psyche. Set in a hauntingly atmospheric world, this
      game invites you to navigate a web of intricate choices, each carrying its
      own weight of consequence.
    </h1>
    <h1 class="paragraph">
      Welcome to "Remorses," a gripping narrative-driven adventure that delves
      deep into the human psyche. Set in a hauntingly atmospheric world, this
      game invites you to navigate a web of intricate choices, each carrying its
      own weight of consequence.
    </h1>
  </section>
</Layout>
