---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Press Kit">
  <section class="mid-details">
    <h1 class="headline">Press Kit</h1>
    <h1 class="paragraph">
      Welcome to the Twisted Line Games Press Kit! Here you'll find everything
      you need to write about our games, team, and latest news.
    </h1>

    <h1 class="headline">Media Assets</h1>
    <h1 class="paragraph">
      Download high-resolution images, logos, and game trailers: <a
        href="/TwistedLineGames-Presskit.zip"
        download="TwistedLineGames-Presskit.zip"
        target="_blank"
        style="pointer-events: auto;">Download Press Kit</a
      >
    </h1>
  </section>
</Layout>
