---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Press Kit">
  <section class="mid-details">
    <h1 class="headline">Press Kit</h1>
    <h1 class="paragraph">
      Welcome to the Twisted Line Games Press Kit! Here you'll find everything
      you need to write about our games, team, and latest news.
    </h1>
    <h1 class="paragraph">
      <a
        href="/TwistedLineGames-Presskit.zip"
        download="TwistedLineGames-Presskit.zip"
        target="_blank"
        style="pointer-events: auto;">Download Press Kit</a
      >
    </h1>

    <h1 class="headline">Remorses Fact Sheet</h1>
    <h1 class="paragraph">Developer: Twistedline Games</h1>
    <h1 class="paragraph">Release Date: Early 2025</h1>
    <h1 class="paragraph">Platforms: PC</h1>
    <h1 class="paragraph">Website: Twistedlinegames.com</h1>
    <h1 class="paragraph">Price: To be announced.</h1>
    <h1 class="paragraph">Accessibility: Digital Version</h1>
    <h1 class="paragraph">Languages: English, More Coming Soon!</h1>
    <h1 class="paragraph">Contact Press: press@twistedlinegames.com</h1>
    <h1 class="paragraph">
      Wishlist Game on Steam:
      <a
        href="https://store.steampowered.com/app/2292160/Remorses/"
        target="_blank"><br />steampowered.com/app/2292160/Remorses/</a
      >
    </h1>

    <h1 class="paragraph">
      X:
      <a href="https://twitter.com/TwstdlGames" target="_blank"
        ><br />twitter.com/TwstdlGames</a
      >
    </h1>
    <h1 class="paragraph">
      Instagram:
      <a
        href="https://www.instagram.com/twistedlinegames?igsh=MW1nMnp2OHQzbmQ2Yg=="
        target="_blank"
        ><br />instagram.com/twistedlinegames?igsh=MW1nMnp2OHQzbmQ2Yg==</a
      >
    </h1>
    <h1 class="paragraph">
      Youtube:
      <a href="https://www.youtube.com/@TwistedlineGames" target="_blank"
        ><br />youtube.com/@TwistedlineGames</a
      >
    </h1>
    <h1 class="paragraph">
      LinkedIn:
      <a
        href="https://www.linkedin.com/company/twistedline-games"
        target="_blank"><br />linkedin.com/company/twistedline-games</a
      >
    </h1>
    <h1 class="paragraph">
      Discord:
      <a href="https://discord.gg/4MHjxaruCD" target="_blank"
        ><br />discord.gg/4MHjxaruCD</a
      >
    </h1>
  </section>
  <br />
</Layout>
