---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Press Kit"
  description="Unleash the power of our brand. Explore our press kit."
>
  <section class="mid-details">
    <h1 class="headline">Press Kit</h1>
    <p class="paragraph">
      Welcome to the Twistedline Games Press Kit! Here you'll find everything
      you need to write about our games, team, and latest news.
    </p>
    <p class="paragraph">
      <a
        href="/TwistedlineGames-Presskit.zip"
        download="TwistedlineGames-Presskit.zip"
        target="_blank"
        style="pointer-events: auto;">Download Press Kit</a
      >
    </p>
  </section>

  <section class="mid-details">
    <h1 class="headline">Remorses Fact Sheet</h1>
    <p class="paragraph">Developer: Twistedline Games</p>
    <p class="paragraph">Release Date: Early 2025</p>
    <p class="paragraph">Platforms: PC</p>
    <p class="paragraph">Website: Twistedlinegames.com</p>
    <p class="paragraph">Price: To be announced.</p>
    <p class="paragraph">Accessibility: Digital Version</p>
    <p class="paragraph">Languages: English, More Coming Soon!</p>
    <p class="paragraph">Contact Press: press@twistedlinegames.com</p>
    <p class="paragraph">
      Wishlist Game on Steam:
      <a
        href="https://store.steampowered.com/app/2292160/Remorses/"
        target="_blank"><br />steampowered.com/app/2292160/Remorses/</a
      >
    </p>

    <p class="paragraph">
      X:
      <a href="https://twitter.com/TwstdlGames" target="_blank"
        ><br />twitter.com/TwstdlGames</a
      >
    </p>
    <p class="paragraph">
      Instagram:
      <a
        href="https://www.instagram.com/twistedlinegames?igsh=MW1nMnp2OHQzbmQ2Yg=="
        target="_blank"
        ><br />instagram.com/twistedlinegames?igsh=MW1nMnp2OHQzbmQ2Yg==</a
      >
    </p>
    <p class="paragraph">
      Youtube:
      <a href="https://www.youtube.com/@TwistedlineGames" target="_blank"
        ><br />youtube.com/@TwistedlineGames</a
      >
    </p>
    <p class="paragraph">
      LinkedIn:
      <a
        href="https://www.linkedin.com/company/twistedline-games"
        target="_blank"><br />linkedin.com/company/twistedline-games</a
      >
    </p>
    <p class="paragraph">
      Discord:
      <a href="https://discord.gg/4MHjxaruCD" target="_blank"
        ><br />discord.gg/4MHjxaruCD</a
      >
    </p>
  </section>
  <br />
</Layout>
